<div class="profile">

    <div class="personal">
        <h4>Personal Information</h4>
        <div class="profile-row">
            <span class="key">&nbsp;Name</span>
            <span class="colon">&nbsp;:</span>
            <span class="value">&nbsp;&nbsp; Shaul Hameed</span>
        </div>
        <div class="profile-row">
            <span class="key">&nbsp;DOB</span>
            <span class="colon">&nbsp;&nbsp;:</span>
            <span class="value">&nbsp;&nbsp; 21 March 1990</span>
        </div>
        <div class="profile-row">
            <span class="key">&nbsp;Sex</span>
            <span class="colon">&nbsp;&nbsp;:</span>
            <span class="value">&nbsp;&nbsp; Male</span>
        </div>
        <div class="profile-row">
            <span class="key">&nbsp;Email</span>
            <span class="colon">:</span>
            &nbsp;&nbsp;&nbsp;<a class="value">shaul21h@gmail.com</a>
        </div>
    </div>
    <div class="line-break"></div>
    <div class="experience">
        <h4>Experience</h4>
        <div class="experience-section">
            <div class="experience-title"><h6 class="key">SOFTWARE ENGINEER - POSHMARK INDIA PVT LTD </h6> <span class="white">[APRIL 2015 - PRESENT]</span></div>
            <div class="experience-content">
                <ul>
                    <li class="list-title">
                        <span class="key">Yaga</span> - In house built time series BI tool
                        <div> <span class="key">Technologies used</span> - Ruby on Rails, D3 Charts, JQuery, Mongo DB, GIT</div>
                        <ul>
                            <li>Develop and maintain the important business analytics charts using YAML based dashboard.</li>
                            <li>Maintain the in house build time series BI tool - Yaga</li>
                            <li>Work on the enhancement of the the existing system.</li>
                            <li>Upgraded the underlying Mongo DB from 2.4 to 3.0 Wired tiger.</li>
                            <li>Troubleshoot the servers.</li>
                            <li>Implement Test driven development using cucumber and capybara.</li>
                            <li>Write deployment scripts using Capistrano gem.</li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        <div class="experience-section">
            <div class="experience-title"><h6 class="key">ASSOCIATE SOFTWARE ENGINEER - Pearson English INDIA PVT LTD </h6> <span class="white">[May 2013 - Mar 2015]</span></div>
            <div class="experience-content">
                <ul>
                    <li class="list-title">
                        <span class="key">Digital Classroom</span> - Real Time communication web app - Wall Street English
                        <div> <span class="key">Technologies used</span> - – Node JS, Angular JS, Web Sockets, REDIS DB, Mongo DB, Windows Azure, Express JS, GIT</div>
                        <ul>
                            <li>Define and architect the application flow</li>
                            <li>Develop the core modules for REAL TIME COMMUNICATION using Node JS, Express JS, Primus IO – Web Sockets, Mongo DB, REDIS DB</li>
                            <li>Implement TDD using Jasmine</li>
                            <li>Automate end to end testing using Protractor.</li>
                            <li>Standards and code review.</li>
                            <li>Co-ordinate with overseas stake holders.</li>
                            <li>Define and configure VM’s in Windows Azure.</li>
                            <li>Draft architecture using MS Visio.</li>
                        </ul>
                    </li>

                </ul>
            </div>

            <div class="experience-content">
                <ul>
                    <li class="list-title">
                        <span class="key">Pearson English One</span> - Business English Solution
                        <div> <span class="key">Technologies used</span> - Asp.net MVC4, C#, Angular JS, HTML5, CSS3, Vault</div>
                        <ul>
                            <li>Migrate legacy ASP Based application to Asp.net MVC4 Architecture</li>
                            <li>Build HTML5 Based Audio / Video player components for Interactive learning</li>
                            <li>Themes and UI development</li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="experience-content">
                <ul>
                    <li class="list-title">
                        <span class="key">CONTENT INNOVATION PLAYER</span> - Interactive Content media player
                        <div> <span class="key">Technologies used</span> - Angular JS, GRUNT JS, CSS3, Require JS</div>
                        <ul>
                            <li>Define and configure JavaScript Task runner using GRUNT JS</li>
                            <li>Develop modular components using Angular JS.</li>
                            <li>Refactor the exisiting implementation</li>
                            <li>Implement Require JS</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="experience-section">
            <div class="experience-title"><h6 class="key">SOFTWARE Developer - The Customer Labs </h6> <span class="white">[AUGUST 2012 - APRIL 2013]</span></div>
            <div class="experience-content">
                <ul>
                    <li class="list-title">
                        <span class="key">The Customer Labs </span> - Ad Analytics engine.
                        <div> <span class="key">Technologies used</span> - Node Js, Angular Js, Brunch IO, Grunt, Bootstrap, Mongo DB, Express JS</div>
                        <ul>
                            <li>Design and develop the framework for Ad Analytics engine</li>
                            <li>Social Media Integration and Data Analytics</li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="line-break"></div>
    <div class="hobby-projects">
        <h4>Hobby Projects</h4>
        <ul>
            <li><span class="bold key">Gimiki Plus</span> -A desktop client for downloading YouTube Videos. Developed using Node Web kit, Node JS, Angular JS, Jade, Sass, Grunt, Coffee Script </li>
            <li><span class="bold key">Ruby wrapper for Java Mongo Driver</span> - Ruby wrapper for Java Mongo Driver </li>
            <li><span class="bold key">shaulhameed.com</span> - Personal website, developed using Ruby on Rails </li>
        </ul>
    </div>

    <div class="line-break"></div>
    <div class="addtional-experience">
        <h4>Addition experience and recognition</h4>
        <ul>
            <li>Nominated for <code>Best Developer of the Year</code> – Pearson English Annual Stellar Awards – 2014</li>
            <li>Nominated for <code>Best Young talent of the Year</code> – Pearson English Annual Stellar Awards – 2013</li>
            <li>Won <code>first runner up</code> in Pearson Hackathon – 2013</li>
            <li>Won <code>Best Application Award</code> for developing Windows 8 Application – Microsoft Tech ED 2012</li>
            <li><code>Microsoft Student Partner</code> from 2009 – 2012</li>
            <li><code>Lead – Chennai .Net User Group</code> (Student Chapter) Supported by Microsoft India (2011 – 2012)</li>
            <li><code>Technical Content Manager</code> – Chennai .Net User Group [Student Chapter]</li>
            <li>Handled <code>100+ technical sessions</code> evangelizing Microsoft Technologies including Microsoft Windows Azure, Windows Phone 7, Windows 8 Application Development, WPF and few other Microsoft technologies.</li>
            <li>One of the <code>Speaker at Microsoft Dream Spark Yatra</code> – Chennai 2011</li>
            <li>Worked on Windows 8 Application development using C# and Xaml</li>
            <li>Developed few Windows Phone 7 applications</li>
        </ul>
    </div>

    <div class="line-break"></div>
    <div class="education">
        <h4>Education</h4>
        <ul>
            <li><code>Master of Science disciplined in Information Technology</code> with an aggregate of 75% from SRM Arts and Science Chennai. (2010 – 2012)</li>
        </ul>
    </div>

    <a id="download_profile" class="download_link" href="/assets/docs/Shaulhameed_profile.pdf" download> Download Profile</a>
</div>